{% extends 'base.html' %}
{% load static %}
{% block body %}

        <!-- slider section starts here!-->
        <section id="intro" class="intro">
            <div class="intro-content">
                <div class="intro-slider">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="carousel-item header-1 active"> <img src="{% static '' %}images/maatr-group-kalyan-slide1.webp" class="for-desktop" title="Maatr Infinity Kalyan" alt="Maatr Infinity Kalyan"> <img src="{% static '' %}images/maatr-group-kalyan-slide1-mobile.webp" class="for-mobile" title="Maatr Infinity Kalyan"
                                    alt="Maatr Infinity Kalyan"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- slider section ends here!-->
        <!--welcome section starts here!-->
        <section id="overview">
            <div class="container">
                <div class="row">
                    <div class="border-bx"><img loading="lazy" src="{% static '' %}images/maatr-group-kalyan-border-black.svg" title="Maatr Infinity Kalyan" alt="Maatr Infinity Kalyan"> </div>
                    <div class="col-md-12">
                        <div class="about-main">
                            <h1 class="heading text-center">Maatr Infinity Kalyan Godrej Hill Khadakpada</h1>
                            <p class="text-center">In the midst of Godrej Hills in Kalyan lies the magnificent residential endeavour Maatr Infinity Khadakpada, where modern lifestyle and classic beauty come together in perfect harmony. With its one-of-a-kind features and luxurious
                                facilities, this property beacon is ready to revolutionise your way of life.</p>
                            <div class="full-width-bx">
                                <div class="price-bx-main">
                                    <div class="price-bx">
                                        <div class="box-img">3 BHK</div>
                                        <div class="box-text">Price On Request</div>
                                    </div>
                                </div>
                            </div>
                            <p class="text-center"> Call +91 8080420011 For Live Location, Site Visit, Appointment, Brochure, Floor Plan, Sample Flat Video, Price, Sales Office Address, & Other Details Of Maatr Infinity Godrej Hills At Khadakpada, Kalyan. </p>
                            <div class="button"><a href="" class="read-more md-trigger" id="md-trigger">Digital Brochure</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--welcome section ends here!-->
        <!--video section starts here!-->
        <section class="feature-bx bg-gray">
            <div class="container">
                <div class="border-bx"><img loading="lazy" src="{% static '' %}{% static '' %}maatr-group-kalyan-border-black.svg" title="Maatr Infinity Godrej Hills" alt="Maatr Infinity Godrej Hills"></div>
                <h2 class="heading text-center black">Maatr Group Kalyan</h2>
                <div class="vidoe-main">
                    <div class="vidoe-bx youtube" data-embed="hu6A1vzeRWI">
                        <div class="play-button"></div>
                    </div>
                </div>
                <div class="btn-main-bx">
                    <div class="button"><a href="" class="read-more md-trigger" id="md-trigger">Schedule Appointment</a></div>
                </div>
            </div>
        </section>
        <!--video section ends here!-->
        <section class="feature-bx bg-red">
            <div class="container">
                <div class="border-bx"><img loading="lazy" src="{% static '' %}images/maatr-group-kalyan-border.svg" title="Maatr Infinity Godrej Hills" alt="Maatr Infinity Godrej Hills"></div>
                <h2 class="heading text-center white">Maatr Kalyan - An Infinite Number Of Possibilities</h2>
                <div class="align-items-v-center">
                    <div class="amenit-box-left">
                        <p class="white">A 21 storeyed high-rise structure comprising some of the finest and most expansive limited edition 3 BHK homes are now on sale in Kalyan. This magnum opus is the realization of our endeavour to offer premium residences that exude
                            luxury at every instance.</p>
                        <ul> </ul>
                    </div>
                    <div class="amenit-box-right"><img loading="lazy" src="{% static '' %}images/maatr-group-kalyan-03.webp" title="Maatr Infinity Khadakpada" alt="Maatr Infinity Khadakpada"></div>
                </div>
                <div class="btn-main-bx">
                    <div class="button buttonn"><a href="" class="read-more md-trigger" id="md-trigger">Book Site Visit</a></div>
                </div>
            </div>
        </section>
        <section class="feature-bx bg-blue">
            <div class="container">
                <div class="border-bx"><img loading="lazy" src="{% static '' %}images/maatr-group-kalyan-border.svg" title="Maatr Infinity Khadakpada" alt="Maatr Infinity Khadakpada"> </div>
                <h2 class="heading text-center white">Maatr Khadakpada - Where Possibilities Become A Reality</h2>
                <div class="align-items-v-center">
                    <div class="amenit-box-left"><img loading="lazy" src="{% static '' %}images/maatr-group-kalyan-01.webp" title="Maatr Infinity Khadakpada Kalyan" alt="Maatr Infinity Khadakpada Kalyan"></div>
                    <div class="amenit-box-right">
                        <div class="icons-main-div">
                            <div class="icons-div">
                                <div class="icons-image"> <img src="{% static '' %}images/maatr-infinity-godrej-hills-icon-01.svg" alt="Maatr Group Kalyan" title="Maatr Group Kalyan"></div>
                                <div class="icon-text"><b>The most spacious 3 BHK Apartments in Kalyan</b> </div>
                            </div>
                            <div class="icons-div">
                                <div class="icons-image"> <img src="{% static '' %}images/maatr-infinity-godrej-hills-icon-02.svg" alt="Maatr Khadakpada" title="Maatr Khadakpada"></div>
                                <div class="icon-text"><b>Two full size decks in each apartment offering a breathtaking view</b> </div>
                            </div>
                            <div class="icons-div">
                                <div class="icons-image"> <img src="{% static '' %}images/maatr-infinity-godrej-hills-icon-03.svg" alt="Maatr Group Kalyan" title="Maatr Group Kalyan"></div>
                                <div class="icon-text"><b> Separate wet and dry kitchens for the first time in Kalyan</b> </div>
                            </div>
                            <div class="icons-div">
                                <div class="icons-image"> <img src="{% static '' %}images/maatr-infinity-godrej-hills-icon-04.svg" alt="Maatr Group Kalyan" title="Maatr Group Kalyan"></div>
                                <div class="icon-text"><b>Only two flats on each floor, that offer you a private lifestyle</b> </div>
                            </div>
                            <div class="icons-div">
                                <div class="icons-image"> <img src="{% static '' %}images/maatr-infinity-godrej-hills-icon-05.svg" alt="Maatr Godrej Hills" title="Maatr Godrej Hills"></div>
                                <div class="icon-text"><b>Project designed by ZZ Architects, first time in Kalyan</b> </div>
                            </div>
                            <div class="icons-div">
                                <div class="icons-image"> <img src="{% static '' %}images/maatr-infinity-godrej-hills-icon-06.svg" alt="Maatr Godrej Hills" title="Maatr Godrej Hills"></div>
                                <div class="icon-text"><b>Full CC received for the entire project</b> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-main-bx">
                    <div class="button"><a href="" class="read-more md-trigger" id="md-trigger">Sample Flat Video</a></div>
                </div>
            </div>
        </section>
        <section class="feature-bx bg-gray" id="demo">
            <div class="container">
                <div class="border-bx"><img loading="lazy" src="{% static '' %}images/maatr-group-kalyan-border-black.svg" title="Maatr Infinity Khadakpada Kalyan" alt="Maatr Infinity Khadakpada Kalyan"> </div>
                <h2 class="heading text-center black">Maatr Godrej Hill - Taking Realty To Elevated Heights</h2>
                <p>Maatr Infinity Kalyan offers a breathtaking view that stretches onto the horizon. Marvel at the beauty of nature that evolves throughout each season from the comfort of your living room.</p>
                <div class="main-connect-div">
                    <div class="connect-div">
                        <div class="connect-image"><img src="{% static '' %}images/maatr-infinity-godrej-hills-icon-07.svg" title="Maatr Infinity Kalyan" alt="Maatr Infinity Kalyan"></div>
                        <div class="connect-name">Cafes & Restaurants</div>
                        <div class="connect-text">Fine dining or your favourite fast food cafe, there are many amazing local easteries as well as international chain of restaurants in the victinity.</div>
                    </div>
                    <div class="connect-div">
                        <div class="connect-image"><img src="{% static '' %}images/maatr-infinity-godrej-hills-icon-08.svg" title="Maatr Infinity Kalyan" alt="Maatr Infinity Kalyan"></div>
                        <div class="connect-name">Shopping Centers</div>
                        <div class="connect-text">Whether it's a trip to the mall or just to your local grocery store, this landmark has an abundance of options for you to pick and chose from.</div>
                    </div>
                    <div class="connect-div">
                        <div class="connect-image"><img src="{% static '' %}images/maatr-infinity-godrej-hills-icon-09.svg" title="Maatr Infinity Kalyan" alt="Maatr Infinity Kalyan"></div>
                        <div class="connect-name">Recreation & Entertainment</div>
                        <div class="connect-text">A movie night or just a leisurely day at the park; a number of recreational places in and around make sure that you never run out of options.</div>
                    </div>
                    <div class="connect-div">
                        <div class="connect-image"><img src="{% static '' %}images/maatr-infinity-godrej-hills-icon-10.svg" title="Maatr Infinity Godrej Hills" alt="Maatr Infinity Godrej Hills"></div>
                        <div class="connect-name">Bank & Utilites</div>
                        <div class="connect-text">Every major bank is located well within your along with access to all the necessary utilities that you will need.</div>
                    </div>
                    <div class="connect-div">
                        <div class="connect-image"><img src="{% static '' %}images/maatr-infinity-khadakpada-icon-11.svg" title="Maatr Infinity Godrej Hills" alt="Maatr Infinity Godrej Hills"></div>
                        <div class="connect-name">Educational Institutes</div>
                        <div class="connect-text">From international play schools to well renowned higher educational institutes, there's no dearth of options. </div>
                    </div>
                    <div class="connect-div">
                        <div class="connect-image"><img src="{% static '' %}images/maatr-infinity-khadakpada-icon-12.svg" title="Maatr Infinity Godrej Hills" alt="Maatr Infinity Godrej Hills"></div>
                        <div class="connect-name">Medical Facilities</div>
                        <div class="connect-text">Multi-speciality hospitals, local clinics, 24*7 pharmacies and a number of path labs are all located within your rrach.</div>
                    </div>
                </div>
                <div class="btn-main-bx">
                    <div class="button"><a href="" class="read-more md-trigger" id="md-trigger">Live Location</a></div>
                </div>
            </div>
        </section>
        <section class="feature-bx bg-red" id="demo">
            <div class="container">
                <div class="border-bx"><img loading="lazy" src="{% static '' %}images/maatr-group-kalyan-border.svg" title="Maatr Infinity Khadakpada" alt="Maatr Infinity Khadakpada"> </div>
                <h2 class="heading text-center white">Maatr Group Khadakpada - Unwind, Recharge, And Reconnect </h2>
                <div class="full-width-bx"><img loading="lazy" src="{% static '' %}images/maatr-group-kalyan-full-img-03.webp" class="for-desktop" title="Maatr Infinity Khadakpada" alt="Maatr Infinity Khadakpada">
                    <img loading="lazy" src="{% static '' %}images/maatr-group-kalyan-img-03-mobile.webp" class="for-mobile" title="Maatr Infinity Khadakpada" alt="Maatr Infinity Khadakpada"></div>
                <div class="main-ammenity-div">
                    <div class="ammenity-div">
                        <div class="amenity-img"><img src="{% static '' %}images/maatr-infinity-khadakpada-icon-14.svg" title="Maatr Infinity Godrej Hills" alt="Maatr Infinity Godrej Hills"></div>
                        <div class="am-name">Gymnasium</div>
                    </div>
                    <div class="ammenity-div">
                        <div class="amenity-img"><img src="{% static '' %}images/maatr-infinity-kalyan-icon-22.svg" title="Maatr Infinity Khadakpada" alt="Maatr Infinity Khadakpada"></div>
                        <div class="am-name">Parking Area</div>
                    </div>
                    <div class="ammenity-div">
                        <div class="amenity-img"><img src="{% static '' %}images/maatr-infinity-kalyan-icon-23.svg" title="Maatr Group Khadakpada" alt="Maatr Group Khadakpada"></div>
                        <div class="am-name">CCTV</div>
                    </div>
                    <div class="ammenity-div">
                        <div class="amenity-img"><img src="{% static '' %}images/maatr-infinity-kalyan-icon-20.svg" title="Maatr Group Khadakpada" alt="Maatr Group Khadakpada"></div>
                        <div class="am-name">24X7 Security</div>
                    </div>
                    <div class="ammenity-div">
                        <div class="amenity-img"><img src="{% static '' %}images/maatr-infinity-khadakpada-icon-15.svg" title="Maatr Infinity Khadakpada" alt="Maatr Infinity Khadakpada"></div>
                        <div class="am-name">Mediation Room</div>
                    </div>
                    <div class="ammenity-div">
                        <div class="amenity-img"><img src="{% static '' %}images/maatr-infinity-kalyan-icon-21.svg" title="Maatr Infinity Khadakpada Kalyan" alt="Maatr Infinity Khadakpada Kalyan"></div>
                        <div class="am-name">Entrance Lobby</div>
                    </div>
                    <div class="ammenity-div">
                        <div class="amenity-img"><img src="{% static '' %}images/maatr-infinity-khadakpada-icon-16.svg" title="Maatr Infinity Khadakpada Kalyan" alt="Maatr Infinity Khadakpada Kalyan"></div>
                        <div class="am-name">Luxury Mini Theatre</div>
                    </div>
                    <div class="ammenity-div">
                        <div class="amenity-img"><img src="{% static '' %}images/maatr-infinity-khadakpada-icon-13.svg" title="Maatr Infinity Khadakpada Kalyan" alt="Maatr Infinity Khadakpada Kalyan"></div>
                        <div class="am-name">Indoor Swimming Pool</div>
                    </div>
                </div>
                <div class="btn-main-bx">
                    <div class="button"><a href="" class="read-more md-trigger" id="md-trigger">Home Pick & Drop</a></div>
                </div>
            </div>
        </section>
        <!--floor plan section starts here!-->
        <section id="floor-plan">
            <div class="container">
                <div class="row">
                    <div class="border-bx"><img loading="lazy" src="{% static '' %}images/maatr-group-kalyan-border.svg" title="Maatr Infinity Godrej Hills Kalyan" alt="Maatr Infinity Godrej Hills Kalyan"> </div>
                    <div class="col-md-10 offset-lg-1">
                        <h2 class="heading text-center white">Maatr Infinity Khadakpada Floor Plans</h2>
                    </div>
                </div>
                <div class="row justify-content-center owl-carousel" id="floor-plan-carousel">
                    <div class="col-md-6 item">
                        <div class="floor-plan-img"><a href="{% static '' %}images/floor-plan/maatr-infinity-kalyan-floor-plan-lg-1.webp" data-fancybox="floorplan"> <img src="images/floor-plan/maatr-infinity-kalyan-floor-plan-1.webp" title="Maatr Infinity Godrej Hills Kalyan Floor Plans" alt="Maatr Infinity Godrej Hills Kalyan Floor Plans" class="new-map"> </a></div>
                    </div>
                    <div class="col-md-6 item wow">
                        <div class="floor-plan-img"><a href="{% static '' %}images/floor-plan/maatr-infinity-kalyan-floor-plan-lg-2.webp" data-fancybox="floorplan"> <img src="images/floor-plan/maatr-infinity-kalyan-floor-plan-2.webp" class="new-map" title="Maatr Infinity Khadakpada Kalyan Floor Plans" alt="Maatr Infinity Khadakpada Kalyan Floor Plans"></a>                            </div>
                    </div>
                    <div class="col-md-6 item">
                        <div class="floor-plan-img"> <a href="{% static '' %}images/floor-plan/maatr-infinity-kalyan-floor-plan-lg-3.webp" data-fancybox="floorplan"><img src="images/floor-plan/maatr-infinity-kalyan-floor-plan-3.webp" class="new-map" title="Maatr Infinity Khadakpada Kalyan Floor Plans" alt="Maatr Infinity Khadakpada Kalyan Floor Plans"></a>                            </div>
                    </div>
                    <div class="col-md-6 item">
                        <div class="floor-plan-img"><a href="{% static '' %}images/floor-plan/maatr-infinity-kalyan-floor-plan-lg-4.webp" data-fancybox="floorplan"> <img src="images/floor-plan/maatr-infinity-kalyan-floor-plan-4.webp" class="new-map" title="Maatr Infinity Godrej Hills Floor Plans" alt="Maatr Infinity Godrej Hills Floor Plans"></a>                            </div>
                    </div>
                </div>
                <div class="button"><a href="" class="read-more rread-more md-trigger" id="md-trigger">Cost Sheet</a></div>
            </div>
        </section>
        <!--floor plan section ends here!-->
        <!--gallery section starts here!-->
        <section id="gallery" class="bg-gray">
            <div class="container">
                <div class="border-bx"><img loading="lazy" src="{% static '' %}images/maatr-group-kalyan-border-black.svg" title="Maatr Infinity Kalyan" alt="Maatr Infinity Kalyan"> </div>
                <div class="row">
                    <div class="col-md-10 offset-lg-1">
                        <div class="about-main">
                            <h2 class="heading text-center black">Maatr Infinity Godrej Hill Latest Photos</h2>
                        </div>
                    </div>
                </div>
                <div class="row owl-carousel" id="gallery-carousel">
                    <div class="image col-md-4  col-lg-3"> <a href="{% static '' %}images/gallery/maatr-infinity-khadakpada-1.webp" data-fancybox="images"><img src="images/gallery/maatr-infinity-khadakpada-1s.webp" title="Maatr Infinity Kalyan Images" alt="Maatr Infinity Kalyan Images"></a> </div>
                    <div class="image col-md-4  col-lg-3"> <a href="{% static '' %}images/gallery/maatr-infinity-khadakpada-2.webp" data-fancybox="images"><img src="images/gallery/maatr-infinity-khadakpada-2s.webp" title="Maatr Infinity Images" alt="Maatr Infinity Images"></a> </div>
                    <div class="image col-md-4  col-lg-3"> <a href="{% static '' %}images/gallery/maatr-infinity-khadakpada-3.webp" data-fancybox="images"><img src="images/gallery/maatr-infinity-khadakpada-3s.webp" title="Maatr Infinity Images" alt="Maatr Infinity Images"></a> </div>
                    <div class="image col-md-4  col-lg-3"> <a href="{% static '' %}images/gallery/maatr-infinity-khadakpada-4.webp" data-fancybox="images"><img src="images/gallery/maatr-infinity-khadakpada-4s.webp" title="Maatr Infinity Godrej Hills Images" alt="Maatr Infinity Godrej Hills Images"></a> </div>
                    <div class="image col-md-4  col-lg-3"> <a href="{% static '' %}images/gallery/maatr-infinity-khadakpada-5.webp" data-fancybox="images"><img src="images/gallery/maatr-infinity-khadakpada-5s.webp" title="Maatr Infinity Godrej Hills Images" alt="Maatr Infinity Godrej Hills Images"></a> </div>
                    <div class="image col-md-4  col-lg-3"> <a href="{% static '' %}images/gallery/maatr-infinity-khadakpada-6.webp" data-fancybox="images"><img src="images/gallery/maatr-infinity-khadakpada-6s.webp" title="Maatr Infinity Khadakpada Images" alt="Maatr Infinity Khadakpada Images"></a> </div>
                    <div class="image col-md-4  col-lg-3"> <a href="{% static '' %}images/gallery/maatr-infinity-khadakpada-7.webp" data-fancybox="images"><img src="images/gallery/maatr-infinity-khadakpada-7s.webp" title="Maatr Kalyan Images" alt="Maatr Kalyan Images"></a> </div>
                    <div class="image col-md-4  col-lg-3"> <a href="{% static '' %}images/gallery/maatr-infinity-khadakpada-8.webp" data-fancybox="images"><img src="images/gallery/maatr-infinity-khadakpada-8s.webp" title="Maatr Kalyan Images" alt="Maatr Kalyan Images"></a> </div>
                </div>
                <div class="button"><a href="" class="read-more md-trigger" id="md-trigger">Final Quote </a></div>
            </div>
        </section>
        <!--gallery section ends here!-->
        <!--map and form section starts here!-->
        <section id="location" class="p-0">
            <div class="contact-map"> <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10653.396725434264!2d73.13142846882438!3d19.25867198528925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1728115079371!5m2!1sen!2sin" style="border:0;" allowfullscreen=""
                    loading="lazy"></iframe> </div>
            <form onsubmit="validateCaptcha(event, this)" method="post" id="enquiry-form" class="form_wrap">
                <div class="form_wrapper">
                    <div class="container-form">
                        <h2>Enquire Now</h2>
                        <div class="form-group"> <label>Name *</label> <input type="text" name="name" class="name-field" id="name" maxlength="30" placeholder="Enter Name *" required="" onkeydown="return /[input was a-z]/i.test(event.key)"> </div>
                        <div class="form-group"> <label>Mobile *</label> <input type="text" name="phone" class="phone-field" id="phone" maxlength="10" placeholder="Enter Mobile Number *" pattern="[6789][0-9]{9}" required onkeypress='return event.charCode >= 48 && event.charCode <= 57'>                            </div>
                        <div class="form-group"> <label>Captcha *</label>
                            <div class="captcha"> <img src="demo_captcha.php" class="imgcaptcha" alt="captcha" /> <img src="{% static '' %}images/refresh-black.svg" alt="reload" class="refresh" /> </div> <input id="captcha" placeholder="Enter Captcha *" pattern="[0-9]{4}" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                class="captcha-bx" type="text" maxlength="4" required="" />
                        </div>
                        <div class="form-group submit_box"> <input type="submit" value="Submit" name="submit"> </div> <label id="result" style="margin:-2px;"></label>
                    </div>
                </div>
            </form>
        </section>
        <!--map and form section ends here!-->
        <!--project information section starts here!-->
        <section id="contact" class="bg-black">
            <div class="container">
                <div class="border-bx"><img loading="lazy" src="{% static '' %}images/maatr-group-kalyan-border.svg" title="Maatr Infinity Khadakpada" alt="Maatr Infinity Khadakpada"> </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <h2 class="heading text-center white font-size">Maatr Group Godrej Hill - Contact Us</h2>
                    </div>
                    <div class="col-lg-4">
                        <div class="contact-block">
                            <div class="contact-icon"> <img loading="lazy" src="{% static '' %}images/maatr-group-kalyan-address.svg" title="Maatr Group Godrej Hills Address" alt="Maatr Group Godrej Hills Address"> </div>
                            <div class="contact-text">
                                <h3>ADDRESS</h3>
                                <p>Khadakpada, Kalyan</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" data-wow-delay="0.3s">
                        <div class="contact-block">
                            <div class="contact-icon"> <img loading="lazy" src="{% static '' %}images/maatr-group-kalyan-phone.svg" title="Maatr Group Godrej Hills Contact" alt="Maatr Group Godrej Hills Contact"> </div>
                            <div class="contact-text">
                                <h3>MOBILE</h3>
                                <p>+91 8080420011</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4" data-wow-delay="0.4s">
                        <div class="contact-block">
                            <div class="contact-icon code-box"> <img src="{% static '' %}images/code.jpg" title="Maatr Group Godrej Hills QR Code" alt="Maatr Group Godrej Hills QR Code"> </div>
                            <div class="contact-text">
                                <h3>QR Code</h3>
                                <p>Coming Soon</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button"><a href="" class="read-more md-trigger" id="md-trigger">Driving Directions</a></div>
            </div>
        </section>
        <!--project information section ends here!-->

{% endblock body %}